* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20.8px auto;
}

.header img {
    width: 114.61000061035156px;
    height: 40px;
}

.header .nav {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .nav  a {
    font-size: 16px;
    font-weight: 500;
    color: #1F2937;
    text-align: center;
    text-decoration: none;
    padding: 8px 16px;
}

.header .sgin {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header .sgin a {
    font-size: 16px;
    font-weight: 700;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    padding: 16px 22px;
    background-color: #6366F1;
    border: 2px solid #6366F1;
    border-radius: 8px;
}

.header .sgin a:hover {
    color: #6366F1;
    background-color: #FFFFFF;
}

.intro {
    height: 609.5599975585938px;
    background-color: #6366F1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FFFFFF;
}

.intro-text h1 {
    width: 466.30999755859375px;
    font-size: 48px;
    font-weight: 700;
    line-height: 57.6px;
    margin-bottom: 31.5px;
}

.intro-text p {
    width: 502.8299865722656px;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 37px;
}

.info {
    width: 502.8299865722656px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.info a {
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px 34px;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
}

.intro-rate {
    width: 553px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.intro-rate-card {
    height: 228.77999877929688px;
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 12px;
}

.big-card {
    width: 100%;
}

.small-card {
    width: calc(52% - 24px);
}

.icon {
    display: block;
    font-size: 30px;
    height: 64px;
    margin: 32px auto 18px;
}

.intro-rate-card .quantity {
    font-size: 31.6px;
    font-weight: 700;
    color: #6366F1;
    margin-bottom: 20px;
}

.describe {
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
}

.reason {
    background-color: #F9FAFB;
    padding: 64px 0;
}

.title {
    font-size: 40px;
    font-weight: 700;
    color: #1F2937;
    text-align: center;
    margin-bottom: 48px;
}

.reason-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 31px;
}

.reason-card {
    width: 265px;
    height: 353.5799865722656px;
    border-radius: 12px;
    text-align: center;
    background-color: #FFFFFF;
}

.reason-card .reason-dec {
    width: 150px;
    font-size: 20px;
    font-weight: 700;
    color: #1F2937;
    margin: 0 auto 20px;
}

.reason-card .describe {
    width: 165px;
    margin: 0 auto;
}

.reason-card .icon {
    height: 76.80000305175781px;
    font-size: 35.8px;
    margin: 48px auto 24px;
}

.course {
    padding: 64px 0;
    text-align: center;
}

.course .title {
    margin-bottom: 24px;
}

.course .describe {
    font-size: 18px;
    margin-bottom: 48px;
}

.course-list {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    gap: 24px;
    justify-content: center;
    flex-wrap: wrap;
}

.course-card {
    background: #fff;
    width: 363.6700134277344px;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 10px 24px rgba(0,0,0,0.08);
    text-align: left;

}

.course-image {
    position: relative;
}

.course-image img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.badge {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 9px 16px;
    border-radius: 8px;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: 700;
}

.new { background: #6366F1 }
.hot { background: #EC4899 }

.course-content {
    padding: 33px;
}

.course-category {
    display: inline-block;
    font-size: 14px;
    color: #5b5ff0;
    font-weight: 700;
    padding: 7px 12px;
    background-color: #F9FAFB;
    border-radius: 6px;
    margin-bottom: 16px;
}

.course-content h3 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 19px;
}

.course-content .describe {
    font-size: 15px;
    color: #6B7280;
    line-height: 24px;
    margin-bottom: 28px;
}

.course-info {
    height: 47.38999938964844px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13.2px;
    border-bottom: 1px solid #E5E7EB;
    margin-bottom: 27px;
}

.course-bot{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 27px;
}

.price {
    text-align: left;
}

.price .old {
    font-size: 14px;
    text-decoration: line-through;
    color: #6B7280;
    margin-bottom: 12.3px;
}

.price .current {
    color: #6366F1;
    font-weight: 700;
    font-size: 23.6px;
}

.btn-primary {
    width: 100%;
    padding: 16px 22px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    border: none;
    background: #6366F1;
    color: #fff;
}

.footer {
    background-color: #1F2937;
    color: #9CA3AF;
}

.footer-top {
    margin: 0 100px;
    padding: 60px 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
}

.footer-top img {
    width: 143.27000427246094px;
    height: 50px;
    margin-bottom: 28px;
}

.footer-top p {
    font-size: 16px;
    line-height: 25.6px;
    margin-bottom: 28px;
}

.social a {
    text-decoration: none;
    font-size: 16px;
    margin-right: 23.8px;
    color: #9CA3AF;
}

.footer-col {
    flex: 1 1 220px;   /* ✅ tự co giãn, không vỡ hàng */
    max-width: 25%;    /* desktop: 4 cột thẳng hàng */
}

.footer-col h4 {
    color: #FFFFFF;
    margin-bottom: 24px;
}

.footer-col ul {
    list-style: none;
}

.footer-col li {
    margin-bottom: 24px;
    font-size: 16px;
}

.footer-bottom {
    border-top: 1px solid #374151;
    padding: 37px;
    font-size: 16px;
    text-align: center;
}

@media (max-width: 1024px) {
    .intro {
        flex-direction: column;
        height: auto;
        padding: 60px 30px;
        text-align: center;
    }

    .intro-text {
        margin-bottom: 48px;
    }

    .intro-text h1, .intro-text p, .info {
        width: 100%;
    }

    .intro-rate {
        width: 100%;
    }

    .small-card {
        width: calc(50% - 12px);;
    }

    .reason-container .course-list {
        width: 100%;
    }

    .reason-card {
        width: 304px;
        height: 300px;
    }

    .course-card {
        width: 304px;
        height: auto;
    }

    .footer-col {
        max-width: 50%;
    }
    
}

@media (max-width: 768px) {
    .reason-card {
        width: 100%;
        margin: 0 24px;
    }

    .course-card {
        width: 100%;
        margin: 0 24px;
    }

    .footer-top {
        margin: 0 20px;
        text-align: center;
    }

    .footer-col {
        max-width: 100%;
    }
}